h1{
    text-align: center;
    color: brown
}
header{
    height: 140px;
    border: solid
}
nav{
    height: 50px;
    border: solid;
}
section{
    height: 700px;
    width: 580px;
    border: solid;
    background-image: url(Suitcase1.jpeg);
    background-repeat: no-repeat
}
aside{
    height: 708px;
    width: 1312px;
    border: solid;
    float: right;
    margin-top: -710px
}
footer{
    height: 60px;
    border: solid;
    text-align: center;
}
table,tr,th{
    text-align: center;
    column-width: 900px;
}
button{
    background-color: cornsilk;
    margin-bottom: 10px;
}
nav{
    position: sticky
}
img{
    border: solid
}
.shift{
    margin-top: 90px;
}
.header-bg{
    background-image: url(IncredibleIndia.jpeg);
    background-repeat: no-repeat;
    background-size:  1900px 160px;
}
.nav-bg{
    background-color: lightskyblue;
}
.section-bg{
    background-image: url(Desert.jpeg); 
    background-repeat: no-repeat; 
    background-size: cover   
}
/*600px 700px*/
.aside-bg{
    background-image: url(PaperPlane.jpeg); 
    background-repeat: no-repeat; 
    background-size: cover
}